body{
 /* background: #ECE9E6;  
 background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  
    background: linear-gradient(to right, #FFFFFF, #ECE9E6);  */
  background-color: whitesmoke !important;
}

.redd{
    color: black;
    background-color: rgba(255, 0, 0, 0.493);
}

.greenn{
    /* color: black;
    background-color:rgba(9, 246, 9, 0.815); */
    color: green;
    font-weight: bold;
}

.progress{
  
    padding: 5px;
    
    color: white;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
}

.info{
   
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.wordpad{
    margin-top: 20px;
    /* position: fixed; */
    /* border: 2px solid grey; */
    /* bottom: 0; */
    /* border-radius: 10px; */
    padding: 20px;
    /* left: 0;
    right: 0; */
    
    text-align: center;
    
}


#paraToShow{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: left;
    -webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
-o-user-select: none;
user-select: none;
    font-size: large;
}

#inputLines{
    width: 100%;
    font-size: large;
    padding: 5px;
    font-weight: bold;
    color: rgb(58, 58, 58);
}

.containerForCars{
  
    margin-top: 40px;
    margin-left: 30px;
    margin-right: 30px;
    border: 2px solid grey;
    border-radius: 3px;
    padding: 10px;
    
    background-color:white;
}

.notification{
    text-align:  center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}


.navigation{
    /* position: fixed;
    top: 0;
    right :0;
    left: 0; */
    background-color: #1e1d1de3;
    padding: 20px;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

.blink{
    color: #ff6e69;
    letter-spacing: 0;
}


.typingSpeed{
    font-weight: bold;
}

.buttonArea{
    text-align: left;
}


